html {
    height: 100%;
    width: 100%;
}

body{
    background-color: #1c1d25;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}


div.nomediv {
    text-align: center;
    vertical-align: center;
    position: relative;
}

#nome {
    margin-top: 20%; 
    text-align: center;
    vertical-align: center;
    position: relative;
    font-family: 'Lato';
    font-size: 8vmin;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    
}

#b1 {
    padding: 15px;
    margin: 0px;
    font-size: 20px;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
}


#b1 {
    position: relative;
    background-color: #000000;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    border: 5px solid;
    border-color: #000000;
}

#b1:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid;
    border-color: #000000;

}

#b1:after {
    content: "";
    background: black;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
}

#b1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.barralat {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 160%;
    width: 70px;
    background-color: #000000;
}

.menuicon {
    margin-top: 20px;
    width: 60px;
    height: auto;
}

.bottom_icons{
    height: 50%;
    margin-left: 20%;
    margin-bottom: 0%;
}

.linkedinicon {
    margin-bottom: 0;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 90%;
}

.githubicon {
    margin-top: 5%;
    margin-bottom: 0;
    width: 80%;
    height: auto;
    background-color: black;
    border-radius: 90%;
}

.mailicon{
    margin-top: 5%;
    margin-bottom: 200%;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 90%;
}

.fotoicon{
    width: 50px;
    height: auto;
    border-radius: 90%;
}

/*Threebars*/

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}


.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}


.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}
.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}


.navbar {
    background-color: black;
    overflow: hidden;
    height: 10%;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 70px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%; 
    font-family: 'Lato';
    
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/*PCTO*/

.pctobody {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: column;
}

/*.section {
    border-color: #ddd;
    border-style: solid;
    border-radius: 10px;
    height: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1d25;
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    z-index: -1;
    
}*/

.fenoglioimg {
    height: 100%;
    width: 100%;
}

.infobox {
    position: absolute;
    margin-top: 20px;
    left: 45%;
    color: #000000;
    align-items: center;
    font-family: 'Lato';
    font-weight: bold;
}

.ar-vr {
    height: 100%;
    width: 100%;
}

.sistemitre {
    height: 100%;
    width: 100%;
}

.navbar2 {
    background-color: black;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Lato';
    z-index: 1;
}

.navbar2 a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    transition: background-color 0.3s;
}

.navbar2 a:hover {
    background-color: #ddd;
    color: black;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.descFenoglio {
    position: relative;
    color: white;
    width: 30%;
    margin-top: 5%;
    margin-left: 0%;
}

.section1 {
    border-color: #ddd;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    background-color: #1c1d25;
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    width: 60%;
    height: 30%;
    margin-left: 2%; 
    margin-top: 5%;
    position: relative; 
}

.section1::before {
    position: absolute;
    top: -10%; 
    left: -200%; 
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 130%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.section1:hover::before {
    -webkit-animation: shine 1.25s;
    animation: shine 1.25s;
}




.container2 {
    display: flex;
}

.section2 {
    border-color: #ddd;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    background-color: #1c1d25;
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    height: 32%;
    margin-left: 15%;
    margin-top: 5%;
    padding: 0;
    width: 30%;
}


.section2::before {
    position: absolute;
    top: 50%; 
    left: -75%; 
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 35%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.section2:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}

.descAR {
    position: relative;
    color: white;
    margin-top: 5%;
    margin-left: 2%; 
    margin-right: 0%;
    width: 38%;
}



.container3{
    display: flex;
}


.section3{
    border-color: #ddd;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    background-color: #1c1d25;
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    height: 30%;
    margin-left: 2%;
    margin-top: 5%;
    padding: 0;
    width: 30%;
}


.section3::before {
    position: absolute;
    top: 90%; 
    left: -75%; 
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 30%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.section3:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}


.descS3{
    position: relative;
    color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 0%;
    width: 38%;
}

/*Formazione*/

.form_container{
    border-color: #ddd;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    background-color: #1c1d25;
    color: #fff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    height: 90%;
    margin-left: 15%;
    margin-top: 5%;
    padding: 0;
    width: 80%;
}

.form_img{
    width: 100%;
    height: 100%;
}

.mainsec{
    display: flex;
    margin-top: 5%;
}

.f3{
    margin-right: 5%;
    width: 200%;
}

.f2{
    width: 200%;
    
}

.f1{
    margin: 0;
    width: 200%;
    
}


#labelperc{
    margin: 0;
}

.label{
    color: white;
    padding-left: 5%;
    text-align: center;
}





